html, body {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

textarea {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
}